# Ignore environment files
.env
*.env

# Ignore virtual environment folder
.venv/
venv/

# Ignore __pycache__ and other cache
__pycache__/
*.py[cod]
*.sqlite3
*.pkl
*.log

# VSCode or PyCharm specific
.vscode/
.idea/
